<mat-nav-list>
  <div class="container">
    <div class="navbar-brand ml-1 mt-3 mb-4">FSTG-Admin</div>
  </div>
  <div class="container">

    <a mat-list-item routerLink="dashboard-info">
      <mat-icon class="mr-2">dashboard</mat-icon>
      <span>Dashboard</span>
    </a>
    <a mat-list-item routerLink="espace-user">
      <mat-icon class="mr-2">face</mat-icon>
      <span>User</span>
    </a>
    <a mat-list-item routerLink="espace-doctorant">
      <mat-icon class="mr-2" >supervisor_account</mat-icon>
      <span>Espace Doctorant</span>
    </a>
    <a mat-list-item routerLink="espace-prof">
      <mat-icon class="mr-2" >supervisor_account</mat-icon>
      <span>Espace Professeur</span>
    </a>
  </div>
</mat-nav-list>
