<app-nav></app-nav>

<div class="container align">
  <div class="container color" >
    <mat-icon class="maticonsize" color="primary">account_circle</mat-icon>
    <div class="container">
      <mat-form-field  floatLabel="auto">
        <mat-label>Username</mat-label>
        <input type="text" matInput required>
      </mat-form-field>
    </div>
    <div class="container">
      <mat-form-field floatLabel="auto">
        <mat-label>Password</mat-label>
        <input type="password" matInput required>
      </mat-form-field>
    </div>
    <div class="container">
      <button mat-raised-button class="btnsize mt-3" color="primary" >Login</button>
    </div>
    <div class="container mt-4">
      <a class="link " href="">Forgot Password ?</a>
    </div>
  </div>

</div>
