<mat-sidenav-container>
  <mat-sidenav mode="side" opened #sideNav>
    <app-dashborad-sidelist></app-dashborad-sidelist>

    <div align="center">
      <button mat-mini-fab class="minifab"  (click)="sideNav.close(); closeSideNav()">
        <mat-icon>arrow_left</mat-icon>
      </button></div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-dashborad-nav [showIcone]="close" (sideNavToggle)="sideNav.open()"></app-dashborad-nav>
    <main>
      <router-outlet> </router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
