<app-nav></app-nav>

<div class="container align color mt-5" color="primary">
  <div class="container ">
    <h1 class="inscrire-size" >S'inscrire</h1>
  </div>
  <form  action="">
    <div class="container">
      <div class="container color" >
        <div class="row">
          <div class="container-fluid  col-sm-12 col-md-6">
            <mat-form-field class="full-width"  floatLabel="auto">
              <mat-label>CIN</mat-label>
              <input [formControl]="requiredFormControlCin" type="text" matInput required>
              <mat-error *ngIf="requiredFormControlCin.hasError('required')">
                CIN <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="container-fluid  col-sm-12 col-md-6">
            <mat-form-field class="full-width" floatLabel="auto">
              <mat-label>CNE</mat-label>
              <input [formControl]="requiredFormControlCne" type="text" matInput required>
              <mat-error *ngIf="requiredFormControlCne.hasError('required')">
                CNE <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="container col-sm-12 col-md-6">
            <mat-form-field class="full-width" floatLabel="auto">
              <mat-label>Nom</mat-label>
              <input [formControl]="requiredFormControlnom" type="text" matInput required>
              <mat-error *ngIf="requiredFormControlnom.hasError('required')">
                Nom <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="container col-sm-12 col-md-6">
            <mat-form-field class="full-width" floatLabel="auto">
              <mat-label>Prénom</mat-label>
              <input [formControl]="requiredFormControlprenom" type="text" matInput required>
              <mat-error *ngIf="requiredFormControlprenom.hasError('required')">
                Prénom <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="container-fluid  col-sm-12 col-md-6">
            <mat-form-field class="full-width" floatLabel="auto">
              <mat-label>Email</mat-label>
              <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com" required>
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Prière d'enter une address email valide
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="container-fluid  col-sm-12 col-md-6">
            <mat-form-field class="full-width" floatLabel="auto">
              <mat-label>telephone</mat-label>
              <input [formControl]="requiredFormControltel" type="tel" matInput required>
              <mat-error *ngIf="requiredFormControltel.hasError('required')">
                telephone <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="container col-sm-12 col-md-6">
            <mat-form-field class="full-width" floatLabel="auto">
              <mat-label>Sujet de thèse</mat-label>
              <input [formControl]="requiredFormControlsujet" type="text" matInput required>
              <mat-error *ngIf="requiredFormControlsujet.hasError('required')">
                Sujet de thèse <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="container col-sm-12 col-md-6">
            <mat-form-field class="full-width " floatLabel="auto">
              <mat-label>Directeur de thèse</mat-label>
              <input [formControl]="requiredFormControldirecteur" type="text" matInput required>
              <mat-error *ngIf="requiredFormControldirecteur.hasError('required')">
                Directeur de thèse <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="container col-sm-12 col-md-6">
            <mat-form-field class="full-width">
              <mat-label>Choisir une </mat-label>
              <mat-select [formControl]="selected"  >
                <mat-option>Aucun</mat-option>
                <mat-option value="valid" *ngFor="let s of structures">{{s.title}}</mat-option>
              </mat-select>
              <mat-error *ngIf="selected.hasError('required')">Tu doit faire une selection</mat-error>
              <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
                Ta selection est invalid
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="container">
          <button mat-raised-button class="btnsize mt-3" color="primary" >S'inscrire</button>
        </div>
        <div class="container mt-4">
          Vous êtes déjà inscrit ?<a class="link " routerLink="/login"> Log in</a>
        </div>
      </div>
    </div>
  </form>
</div>



